apiVersion: v1
kind: ConfigMap
metadata:
  name: logstash-config
  namespace: default
data:
  logstash.conf: |
    input {
      tcp {
        port => 5000
        codec => json
      }
    }
    output {
      elasticsearch {
        hosts => ["elasticsearch:9200"]
        index => "app-logs-%{+YYYY.MM.dd}"
      }
      stdout { codec => rubydebug }
    }
